

*{
    margin: 0;
    padding: 0;

    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/background_ajax.jpg) center / cover;
}

.fotoPerfil img{
    width: 80px;
    height: 80px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td{
    border-collapse: collapse;
    padding: 1rem;
}

table{
    width: 100%;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color:#d5d1defe;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    box-shadow: 0 .4rem .8rem #0002;
    border-radius: .8rem;
    overflow: hidden;
}

.table_header > * {
    margin-right: 20px; /* Adjust margin as needed */
    text-align: center;
}

.table_header .contenedor_botones {
    display: flex;
}

.table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
}

.table_header button:last-child {
    margin-right: 0; /* Remove right margin for the last button */
}

.table_header button {
    margin-right: 10px; /* Adjust margin as needed */
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table_header button:hover {
    background-color: #0056b3;
}

.table_header select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.table_body{
    width:95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
        visibility: visible;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: burlywood;
    cursor: pointer;
    filter: brightness(0.835);
}

tbody tr {
    transition: filter 1.5s ease; /* Add a smooth transition effect */
}

td {
    vertical-align: middle;
    text-align: center; /* Optionally center the text horizontally as well */
}

/* Styles for the overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    z-index: 1500; /* Higher z-index */
}

/* Styles for the modal container */
.modalForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Adjust as needed */
    width: 100%;
    max-height: 80%; /* Adjust as needed */
    overflow-y: auto;
    position: fixed; /* Fixed position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1600; /* Higher z-index than .overlay and other page elements */
}

/* Optional: Style for the close button */
.modalForm .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Optional: Style for form labels */
.modalForm label {
    display: block;
    margin-bottom: 8px;
}

/* Optional: Style for form inputs */
.modalForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Optional: Style for the select dropdown */
.modalForm select {
    width: 100%;
    padding: 7px;
    margin-bottom: 7px;
    box-sizing: border-box;
}

/* Optional: Style for the submit button */
.modalForm input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Optional: Hover style for the submit button */
.modalForm input[type="submit"]:hover {
    background-color: #0056b3;
}

.imgEliminar img{
    width: 55px;
    height: 55px;
    margin-right: .5rem;
    vertical-align: middle;
}

.imgEliminar img:hover {
    background-color:#2F609E;
    filter: brightness(1.8); /* Example: increase brightness for hover effect */
}

/* Additional styles for the trash icon */
tbody .imgEliminar img {
    transition: filter 1.5s ease; /* Add a smooth transition effect */
}

.table_header img{
    width: 70px;
    height: 70px;
}

.agregar *{
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    margin:10px;
}

.agregar img:hover{
    cursor:pointer;
}

#toastSection label {
    font-size: 30px;
    margin-left: 15px;
}
